body {
    background-color: #777;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    width: 960px;
    margin: 0 auto;
    /* color: #777; */
}

#header {
    text-align: center;
    background-color: #ebebeb;
    padding: 20px;
    margin: 20px;
}

#nav {
    text-align: center;
    background-color: #ebebeb;
    Padding: 20px;
    margin: 20px;
}

#section {
    background-color: #ebebeb;
    text-align: center;
    width: 495px;
    height: 198px;
    padding: 20px;
    position: relative;
    top: -237px;
    right: -20px;
}

#AsideDiv{
    position: relative; 

}

#aside {
    background-color: #ebebeb;
    text-align: center;
    margin-left: 500px;
    width: 324px;
    height: 198px;
    padding: 20px;
    position: relative;
    right: -75px;
}

.article {
    background: gray;
    border: 30px;
    height: 140px;
    width: 475px;
    position: relative;
    right: -30px;
    top: -445px;
    text-align: center;
    color: white;
    padding: 20px;
}

.headings {
    background-color: #ebebeb;
    text-align: center;
    width: 400px;
    padding: 15px;
    position: relative;
    top: -595px;
    right: -73px;
}

.paragraphs {
    background-color: #ebebeb;
    text-align: center;
    width: 400px;
    padding: 15px;
    position: relative;
    top: -600px;
    right: -73px;
}

#footer {
    text-align: center;
    background-color: #ebebeb;
    padding: 20px;
    margin: 20px;
    position: relative;
    top: -575px;
}